<header class="teal darken-1 z-depth-1">
  <div class="container"><h1 class="white-text">Salt and Vinegar</h1></div>
</header>
<main class="container">
    <p><img src="/logo-on-the-bottle.jpg" alt></p>
    <p class="center-align"><a href="<%= new_paper_path %>" class="waves-effect waves-light btn-large" >Create new paper now!</a></p>
</main>