<div id="home">
  <h1>Salt and Vinegar</h1>
  <div>
    <a class="home-createNew" href="<%= new_paper_path %>"><img src="/logo-on-the-bottle.jpg" alt="" width="312" height="241" /><br />Create new paper now!</a>
  </div>
</div>
