<div id="home">
  <h1>Salt and Vinegar</h1>
  <div>
    <a class="home-createNew" href="<%= new_paper_path %>"><img src="/logo-on-the-bottle.png" alt="" width="157" height="180" /><br />Create new paper now!</a>
  </div>
</div>
