<table class="bordered striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Orderer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="items_list">
    <% @items.each do |item| %>
      <%= render partial: 'items/show', locals: { item: item } %>
    <% end %>
  </tbody>
</table>
