.mod-item
  &-collection
    &-item
      display: list-item
      height: 4.5rem

      &-name
        display: block
      &-quantity,
      &-orderer
        @extend .teal-text.text-lighten-3
      &-quantity
        margin-right: 1em
