.mod-item
  &-collection
    &-item
      display: list-item
      min-height: 4.5rem

      &-editButton
        @extend .btn-flat
        height: 2.5em
        padding: 0
        width: 2.5em

      &-name
        display: block
      &-quantity,
      &-orderer
        @extend .teal-text.text-lighten-3
      &-quantity
        margin-right: 1em

  &-field
    display: inline-block

    &-name,
    &-price
      width: 75%
    &-before_quantity,
    &-before_unit
      width: 5%
    &-quantity,
    &-unit
      width: 20%
